*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #EEE;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


/* CSS do main */

main{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .section1{
        flex-direction: column;
    }
    
}

.foto-pessoal2{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
    
}

.img-foto-pessoal2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 1s;
    
}

.img-foto-pessoal2:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (min-width:0px) and (max-width: 840px){
    .foto-pessoal2{
        height: 200px;
        width: 200px;
    }
    
}

.texto-apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #83867b;
    padding: 15px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .texto-apresentacao{
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }
    
}

.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .section2{
        width: 98%;
    }
    
}

.foto-pessoal{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .foto-pessoal{
        height: 200px;
        width: 200px;
    }
    
}

.img-foto-pessoal{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 1s;
}

.img-foto-pessoal:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.titulo-sobre{
    padding: 20px;
    background-color: #83867b;
    border-radius: 5px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.experiencias-tecnologias{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.experiencias-tecnologias i{
    font-size: 2.5rem;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .div-sobre{
        flex-direction: column;
    }
    
}

.div-sobre h1{
    text-decoration: underline;
}

.texto-sobre{
    width: 25%;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .texto-sobre{
        width: 80%;
    }
    
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-projeto{
    display: flex;
    align-items: center;
}

.img-projeto{
    height: 200px;
    width: 320px;
    background-color: #0017268a;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (min-width:0px) and (max-width: 840px){
    .img-projeto{
        height: 140px;
        width: 180px;
    }
    
    .section3 h2{
        font-size: 1rem;
    }
}

.div-projeto .img-projeto img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 1s;
}

.div-projeto .img-projeto img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.titulo-projetos{
    padding: 20px;
    background-color: #83867b;
    border-radius: 5px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CSS do footer */

footer{
    background-color: rgba(59, 62, 73, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    flex-direction: column;

}

.nav-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    margin: 10px;
}

footer i{
    font-size: 2rem;
}